.product-card {
    width: 22%;
    min-width: 300px;
    height: 270px;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    outline: 3px solid $color-light-blue;
    margin-bottom: 25px;
    background-color: $color-secondary;

    .border-decoration {
        width: 100%;
        height: 10%;

        img {
            height: 21.5px;
            width: 100%;
        }
    }

    .product-img {
        height: 85%;
        width: calc(60% - 1px);
        padding: 15px 5px 5px 5px;

        img {
            height: fit-content;
            width: 100%;
            transition: 300ms;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .product-line-container{
        height: 85%;
        width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;

        .product-line {
            height: 60%;
            width: 100%;
            background-color: $color-light-blue;
        }
    }

    .product-content {
        height: 85%;
        width: calc(40% - 1px);
        padding: 15px 5px 5px 10px;
        color: black;
        display: flex;
        justify-content: center;

        h4 {
            font-size: 1.2em;
            font-weight: 600;
            color: black;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.1em;
            color: #4D4D4D;
        }

        .artisan {
            font-style: italic;
            margin: 0 0 20px 0;
        }

        .prices {
            .old-price {
                color: #BA0505;
                text-decoration-line: line-through;
                font-size: 1.2em;
                margin-right: 30px;
            }

            .new-price {
                color: #2CB916;
                font-size: 1.4em;
            }
        }

        .add-basket-container {
            margin-top: 25px;
            display: flex;
            justify-content: center;

            .add-basket-button {
                background-color: $color-light-blue;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    filter: brightness(0.85);
                }

                svg {
                    padding-top: 5px;
                    path {
                        color: $color-secondary;
                    }
                }
                p {
                    color: $color-secondary;
                    padding: 0 5px 5px 5px;
                }
            }
        }
    }

    .border-bottom-container {
        width: 100%;
        height: 5%;
        background-color: $color-light-blue;
    }
}