.product-card {
    width: 22%;
    height: 270px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    outline: 3px solid $color-light-blue;
    margin-bottom: 25px;
    background-color: $color-secondary;

    .product-img {
        height: 80%;
        width: calc(60% - 1px);
        display: flex;
        align-items: center;

        img {
            height: fit-content;
            width: 100%;
            padding: 5px;
            transition: 300ms;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .product-line-container{
        height: 80%;
        width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;

        .product-line {
            height: 60%;
            width: 100%;
            background-color: $color-light-blue;
        }
    }

    .product-content {
        height: 80%;
        width: calc(40% - 1px);
        color: black;
        display: flex;
        justify-content: center;
    }

    .product-carousel {
        height: 20%;
        width: 100%;
        border-top: 1.5px solid $transparent-blue;
        display: flex;
        overflow: hidden;

        img {
            width: 20%;
            height: 100%;
        }
    }
}