footer {
    height: 280px;
    width: 100%;
    background-color: #655A4E;
    position: relative;

    .border-container {
        background-image: url(../../media/border_footer3.png);
        width: 100%;
        height: 35px;
        opacity: 0.3;
    }

    .footer-links {
        width: 100%;
        height: calc(100% - 35px);
        display: flex;
        justify-content: space-evenly;
    }

    h3 {
        padding-top: 25px;
        text-align: center;
    }

    .footer-about, .footer-delivery, .footer-contact {
        width: 250px;
        height: 100%;

        .title {
            width: 100%;
            height: 30%;
        }

        .links {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            padding-top: 10px;

            li {
                color: #d4d4d4;
                margin-bottom: 5px;
                list-style-type: none;
                width: fit-content;
                cursor: pointer;
                display: flex;

                span {
                    font-family: 'Noto Sans Tifinagh', sans-serif;
                    margin-right: 10px;
                    display: inline-block;
                    width: 21px;
                }

                p {
                    text-align: start;
                }

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }
}