#loader-container {
    background-color: $color-primary;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .third-opacity {
        opacity: 0;
    }
}

.loader-cancelled {
    display: none;
}