.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    color: $color-primary;
    font-weight: 500;
    font-size: 35px;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;

        li {
            width: 250px;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &::after {
                content: '';
                margin-top: 5px;
                height: 3px;
                width: 0px;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;
            }

            &:hover::after {
                width: 50%;
                background: $color-primary;
            }
        }
    }
}