.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    color: $color-primary;
    font-weight: 500;
    font-size: 35px;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: relative;

        li {
            width: 250px;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            .chevron-down {
                position: absolute;
                right: 31px;
                top: 20px;
                font-size: 0.7em;
                transform: rotate(270deg);

                path {
                    color: $color-light-blue;
                }

                &:hover {
                    path {
                        color: #694840;
                    } 
                }
            }

            &::after {
                content: '';
                margin-top: 5px;
                height: 3px;
                width: 0px;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;
                position: absolute;
                bottom: 0;
            }

            &:hover::after {
                width: 50%;
                background: $color-primary;
            }
        }
    }

    .quick-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: auto;
        height: 150px;
        right: -65px;
        top: 56px;
        background-color: #694840;
        padding: 10px;
        opacity: 0;

        li {
            color: $color-secondary;
            font-size: 0.65em;
            width: 100%;
            height: 100%;
            align-items: flex-start;

            span {
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 5px;
                text-align: center;
            }

            &:hover::after {
                width: 50%;
                background: $color-secondary;
            }
        }
    }

    .menu-active {
        animation: 1.5s linear 0s 1 normal forwards menuAppears;
    }

    .menu-inactive {
        opacity: 0;
    }
}