.about-container {
    height: 2000px;
    width: 100%;
    
    .background {
        height: 2000px;
        width: 100%;
        position: absolute;
        z-index: -1;
        
        img {
            width: 100%;
            height: 100%;
            // position: absolute;
        }

        .gray-layout {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .foreground {
        width: 100%;
        height: 100%;

        .about-main {
            height: calc(100% - 550px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 15%;
            overflow: hidden;

            .about-card {
                opacity: 1;
                background-color: rgb(15, 15, 15, 75%);
                flex-direction: column;
                outline: 3px solid #D9A569;
                width: 350px;
                height: auto;
                max-width: none;
                justify-content: flex-start;
                transition: none;
                transform: none;
                cursor: default;

                .card-title {
                    color: $color-primary;
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 20px;

                    .orange-line {
                        background-color: $color-primary;
                        height: 2px;
                        width: 145px;
                        opacity: 0;
                        transform-origin: left;
                    }
                    
                    span {
                        color: $color-secondary;
                        font-family: "Akronim", cursive;
                        font-size: 2em;
                        font-weight: normal;
                        margin-left: 10px;
                    }
                }

                .card-content {
                    padding: 0 20px 20px 20px;
                    color: $color-secondary;
                    font-size: 1.2em;

                    ul {
                        list-style-type: none;
                        li {
                            margin-bottom: 20px;
                            font-size: 1.2em;

                            h4 {
                                color: $color-primary;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }

            .company {
                align-self: flex-end;
                transform: translateX(50vw);
                animation: 1s ease-out 0s 1 normal forwards running moveAboutCard1;
            }

            .values {
                align-self: flex-start;
                transform: translateX(-50vw);
            }

            .products {
                align-self: flex-end;
                transform: translateX(50vw);
            }
        }
    }
}