.products-container {
    height: 1440px;
    width: 100%;
    
    .background {
        height: 1440px;
        width: 100%;
        position: absolute;
        z-index: -1;
        
        img {
            width: 100%;
            height: 1440px;
            position: absolute;
        }

        .gray-layout {
            background-color: $transparent-gray;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .foreground {
        width: 100%;
        height: 100%;

        main {
            width: 100%;
            height: calc(100% - 270px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .product-title {
                width: 100%;
                text-align: center;
                height: 90px;
                margin: 40px 0;
                
                h3 {
                    font-weight: 400;
                    font-size: 30px;
                    margin-bottom: 20px;
                    &::after {
                        content: "";
                        background-color: $color-secondary;
                        width: 30%;
                        height: 1px;
                        display: block;
                        margin: auto;
                    }
                }

                p {
                    color: $color-secondary;
                    font-size: 20px;
                }
            }

            .arrow-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                margin-bottom: 40px;

                img {
                    animation: 2s ease-in-out 0s infinite alternate-reverse forwards running arrowMovement;
                }
            }

            .cards-container {
                width: 100%;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                margin-bottom: 40px;
            }

            #products-list-container {
                width: 100%;
                height: calc(100% - 760px);
                background-color: transparent;

                .products-border {
                    width: 100%;
                    height: 15px;
                    background-image: url(../../media/border_footer2.png);
                    opacity: 0;
                }

                .products-list {
                    height: 100%;
                    width: 100%;
                    background-color: #f0f0ef;
                    opacity: 0;
                    padding: 0 20px;

                    .category-title-container {
                        width: 100%;
                        height: 160px;
                        display: flex;
                        justify-content: center;

                        img {
                            width: 50px;
                            height: 50px;
                            align-self: flex-start;                         
                        }

                        .title-filter-container {
                            width: calc(100% - 110px);
                            height: 100px;
                            
                            h3 {
                                height: 60%;
                                color: $color-light-blue;
                                font-weight: 400;
                                font-size: 30px;
                                text-align: center;
                                padding-top: 10px;
                                &::after {
                                    content: "";
                                    background-color: $color-light-blue;
                                    width: 30%;
                                    height: 1px;
                                    display: block;
                                    margin: auto;
                                }
                            }

                            .filter-container {
                                width: 50%;
                                max-width: 440px;
                                height: 40%;
                                margin: 0 auto;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                background-color: #4D64B5;
                                border-radius: 10px;
                                color: $color-secondary;
                                box-shadow: 4px 6px 10px 0px #4b4a4a59;

                                p {
                                    width: 40%;
                                    height: 100%;
                                    padding-left: 20px;
                                    display: flex;
                                    align-items: center;
                                }

                                ul {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    list-style: none;

                                    li {
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        position: relative;

                                        &:hover svg{
                                            transition: 500ms ease-in-out;
                                            transform: rotate(359.9deg);
                                        }
    
                                        span {
                                            margin-right: 10px;
                                            pointer-events: none;
                                        }

                                        svg {
                                            cursor: pointer;
                                            pointer-events: none;
                                            padding-bottom: 1px;
                                            transform: rotate(270deg);
                                        }
                                    }
                                }
                            }

                            .scroll-products {
                                display: flex;
                                justify-content: space-between;
                                color: $color-secondary;

                                .previous-products, .next-products {
                                    background-color: $color-light-blue;
                                    cursor: pointer;
                                    padding: 10px;
                                    border-radius: 5px;
                                    box-shadow: 4px 6px 10px 0px rgb(75 74 74 / 35%);
                                

                                    svg {
                                        position: relative;
                                        top: 1.5px;
                                    }

                                    .fa-chevron-left {
                                        margin-right: 5px;
                                    }
                                    .fa-chevron-right {
                                        margin-left: 5px;
                                    }
                                }

                                .products-page-index {
                                    width: 37px;
                                    height: 13px;
                                    align-self: end;
                                    display: flex;

                                    .first-page {
                                        height: 100%;
                                        width: 50%;
                                    }
                                    .second-page {
                                        height: 100%;
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }

                    .items-container {
                        display: none;
                        flex-wrap: wrap;
                        height: calc(80% - 25px);
                        width: 100%;      
                    }
                }
            }
        }
    }
}