.products-container {
    height: 1440px;
    width: 100%;
    .background {
        height: 1440px;
        width: 100%;
        position: absolute;
        z-index: -1;
        
        img {
            width: 100%;
            height: 1440px;
            position: absolute;
        }

        .gray-layout {
            background-color: $transparent-gray;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .foreground {
        width: 100%;
        height: 100%;

        main {
            width: 100%;
            height: calc(100% - 300px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .product-title {
                width: 100%;
                text-align: center;
                height: 90px;
                margin-bottom: 40px;
                
                h3 {
                    font-weight: 400;
                    font-size: 30px;
                    margin-bottom: 20px;
                    &::after {
                        content: "";
                        background-color: $color-secondary;
                        width: 30%;
                        height: 1px;
                        display: block;
                        margin: auto;
                    }
                }

                p {
                    color: $color-secondary;
                    font-size: 20px;
                }
            }

            .arrow-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                margin-bottom: 40px;

                img {
                    animation: 2s ease-in-out 0s infinite alternate-reverse forwards running arrowMovement;
                }
            }

            .cards-container {
                width: 100%;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                margin-bottom: 40px;
            }

            .products-list-container {
                width: 100%;
                height: calc(100% - 760px);

                .products-list {
                    height: 100%;
                    width: 100%;
                    background-color: $color-secondary;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    border: 5px solid $color-light-blue;
                    opacity: 0;

                    .category-title-container {
                        width: 100%;
                        height: 20%;
                        min-height: 100px;
                        border-bottom: 5px solid transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 50px;
                            height: 50px;
                            align-self: flex-start;

                            &:nth-child(1) {
                                margin: 5px 0 0 5px;
                            }
                            &:nth-child(3) {
                                margin: 5px 5px 0 0;
                            }
                            
                        }
    
                        h3 {
                            color: $color-light-blue;
                            font-weight: 400;
                            font-size: 30px;
                            width: calc(100% - 110px);
                            text-align: center;
                            &::after {
                                content: "";
                                background-color: $color-light-blue;
                                width: 30%;
                                height: 1px;
                                display: block;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}